.hero {
  background: url(img/homepageMK.jpg) center/cover;
}
.keyboardPositioning {
    margin-left: 12%;
}
@media (max-width: 1500px) {
    .hero {
        background: url(img/homepageMK.jpg) center/cover;
}
.keyboardPositioning {
        margin-left: 12%;
    }
 .gerthr{
        margin: 0 auto;
        max-width: 70%;
}
#deviderAuthor{
        max-width: 70%;
        margin: 0 auto;
        margin-top: 5%;
    }
}

@media (max-width: 900px) {
    .hero {
        background: url(img/homepageMK.jpg) center/cover;

    }

    .keyboardPositioning {
        margin-left: 12%;
    }
    .gerthr{
        margin: 0 auto;
        max-width: 80%;
    }
    #deviderAuthor{
        max-width: 80%;
        margin: 0 auto;
        margin-top: 5%;
    }
 }

@media (max-width: 800px) {
    .hero {
        background: url(img/homepageMK.jpg) center/cover;
}
.keyboardPositioning {
        margin-left: 8%;
    }
 .aboutText {
        width: 95%;
    }
    .gerthr{
        margin: 0 auto;
        max-width: 97%;

    }
    #deviderAuthor{
        max-width: 97%;
        margin: 0 auto;
        margin-top: 4%;
    }
}

@media (max-width: 420px) {
    .hero {
        background: url(img/homepageMK-small.jpg) center/cover;
}
.keyboardPositioning {
        margin-left: 0%;
    }
.aboutText {
        width: 100%;
    }
    .gerthr{
        width: 100%;
    }
    #deviderAuthor{
        width: 100%;
        margin: 0 auto;
        margin-top: 3%;
    }
}

.abcd {
    background-color: rgba(0, 0, 0, 0.315);
}

.andmsa {
    background-color: rgba(10, 10, 10, 0.09);
}

.navPBrand {
    /* font-size: larger; */
    margin-top: 17px;
    margin-left: 15px;
}

.AboutHover:hover {
    background-color: #ffd83d;
    border-radius: 5px;
    color: grey;
    font-weight: 600;
}

#cartAncher p {
    font-size: 17px;
}

#cartAncher span {
    font-size: 17px;
}

#cartAncher span:hover {
    background-color: #ffd83d;
}

.aPreventDefault {
    border-radius: 15px;
}

.aPreventDefault:hover {
    border-radius: 5px;
    color: silver;
    background-color: #ffd83d;
}

#navBoja {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 25%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 25%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 25%);
}

#footerBoja {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 35%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 35%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 35%);
}

body p,
h2,
.white {
    color: white;
}

#wrapper {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

#colorFilterDiv {
    border: 2px solid red;
}

.navbarSort {
    margin-bottom: 1rem;
}

#bigKeyboardFirst {
    padding-left: 25px;
    padding-right: 25px;
}

#cartAncher:hover,
#cartAncher span:hover {
    background-color: rgba(153, 153, 153, 0);
    color: #ffd83d;
}
#localStorageCart table{
    color:white;
    padding: 1rem;
}
#localStorageCart table td{

    padding: 0.75rem;
}
#emptyCart{
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0);
}
#priceCart  {
     color: white;
}

#clearLSData{
    margin-top: 1rem;
}
#priceCart{
    color:white;
    background-color: #ffffff00;
}
#saved {
    color: white;
}

#submitInfo {
    border-radius: 5px;
    margin: 0.5rem;

}
table tr {
    border-bottom: 1px solid white;
}

.whiteText {
    color: white;
}

.whiteText span {
    color: rgb(255, 255, 130);
}

.productText {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.062) 0%, rgba(0, 0, 0, 0.9) 100%);
    /* background-color: rgba(251, 248, 242, 0.561); */
}

.productText ul {
    color: rgb(0, 0, 0);
}

.productTextSpan {
    color: rgb(241, 241, 182);
    font-size: larger;
}

.productPic {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.062) 0%, rgba(0, 0, 0, 0.9) 100%);
    color: rgba(248, 248, 248, 0.849);
}

.devider {
    background: linear-gradient(90deg, rgba(0, 212, 255, 0.6110644086990165) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 0.61) 100%);
}

.centerBlack {
    background-color: #03030336;
}

.aboutText {
    max-width: 70%;
}
.fafaIcons{
    color:white !important;
}