.hero {
    
    background: url(img/homepageMK.jpg) center/cover;
  
}

.keyboardPositioning{
    margin-left:12%;
   }
@media (max-width: 900px) {
    .hero {
        background: url(img/homepageMK.jpg) center/cover;
       
    }
   .keyboardPositioning{
    margin-left:12%;
   }
   
}
@media (max-width: 800px) {
    .hero {
        background: url(img/homepageMK.jpg) center/cover;
       
    }
   .keyboardPositioning{
    margin-left:8%;
   }
   
}
@media (max-width: 420px) {
    .hero {
        background: url(img/homepageMK-small.jpg) center/cover;
      
    }

    .keyboardPositioning{
        margin-left:0%;
       }
   
}
 .abcd{
     background-color:  rgba(0, 0, 0, 0.315);
} 
.andmsa{
    background-color: rgba(10, 10, 10, 0.09);
}
.navPBrand{
 /* font-size: larger; */
 margin-top:17px;
 margin-left:15px;
}
/* .tilesColor{
    background-color: red;
}
.tilesColor{
    background-color: rgb(0, 0, 0);
} */
.AboutHover:hover, .AboutHover p:hover {
    background-color:#ffd83d;
    border-radius: 5px;
    color:grey;
    font-weight: 600;
}

.aPreventDefault{
    border-radius: 15px;
}
#navBoja{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 25%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 25%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 25%);
}

#footerBoja{
    background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 35%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 35%);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 35%);
}

body p,h2, .white{
    color:white;
}
#wrapper{
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}
#colorFilterDiv{
    border:2px solid red;
}
.navbarSort{
    margin-bottom: 1rem;
}
#bigKeyboardFirst{
    padding-left:25px;
    padding-right: 25px;
}
#cartAncher:hover , #cartAncher span:hover{
 background-color: rgba(153, 153, 153, 0);
 color: #ffd83d;
}
#localStorageCart table tr td, #priceCart{
    color:white;
    padding: 0.5rem;
    
}
.verticalLine{
    border-right:1px solid white;
}

